.hide {
    display: none;
}
.links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    padding-top: 6vh;
}
.links {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    align-self: center;
    padding-top: 6vh;
    flex-wrap: wrap;
    width: 980px;
}
h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    background: black;
    position: relative;
    z-index: 1;
    margin: 0;
    height: 55px;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.links-container:first-child {
    padding-top: 10px;
}
.links-container:last-child {
    padding-bottom: 10px;
}
.links-container :last-child {
    padding-right: 0;
}
.links-container :first-child {
    padding-left: 0;
}
.container {
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    align-self: center;
    margin: 50px 0px 50px 0px;
}
.artefacts, .weapons, .rotation, .party, .conclusion {
    font-size: 30px;
    cursor: pointer;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 3840px) {
    .linkClass :first-child {
        padding-top: 10px;
    }
}
@media (max-width: 1400px) {
    .container {
        width: 100%;
    }
}
@media (max-width: 1200px) {
    .container {
        width: 60vw;
    }
    .links {
        width: auto;
    }
    h1 {
        font-size: 15px;
    }
}
@media (max-width: 992px) {
    main {
        background: white;
    }
}
@media (max-width: 767px) {
    .container {
        width: 100%;
        font-size: 19px;
    }
    h1 {
        font-size: 12px;
        height: 5vh;
    }
    .links-container {
        padding-bottom: 5px;
    }
    .links-container:first-child {
        padding-top: 5px;
    }
    .links-container:last-child {
        padding-bottom: 5px;
    }
}
@media (max-width: 375px) {
    .links {
        padding-top: 8vh;
    }
}