.container {
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    align-self: center;
    margin: 50px 0px 50px 0px;
}
.artefacts, .weapons, .rotation, .party, .conclusion {
    font-size: 30px;
    cursor: pointer;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1400px) {
    .container {
        width: 100%;
    }
}
@media (max-width: 1200px) {
    .container {
        width: 60vw;
    }
}
@media (max-width: 992px) {
    main {
        background: white;
    }
}
@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}