footer {
    display: flex;
    width: 100%;
    background: black;
    color: rgb(228, 228, 228);
    font-size: 12px;
    justify-content: center;
}
.footer-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media (max-width: 3840px) {
    footer {
        height: 6vh;
    }
    .footer-width {
        width: 970px;
    }
}
@media (max-width: 1200px) {
    .footer-width {
        padding: 0px 40px 0px 40px;
        width: 100%;
        font-size: 10px;
    }
    .footer-width div:last-child {
        text-align: right;
        padding-left: 25px;
    }
}
@media (max-width: 767px) {
    .footer-width {
        padding: 0px 20px 0px 20px;
    }
}
@media (max-width: 375px) {
    footer {
        height: 8vh;
    }
}